

 @mixin chips {
    min-width: 100px;
    width: max-content;
    height: 30px;
    border-radius: 50px;
    transition: .3s ease-in-out all;
    border: 2px solid var(--secundario);
    padding: 2px 10px;
    cursor: pointer;
    
    h6{
        font-size: var(--h5);
        font-family: var(--primariaBold);
        color: var(--secundario);
        text-transform: uppercase;
    }
    
    img{
        margin-left: 10px;
        cursor: pointer;
        max-width: 12px;
    }
    
    &:hover{
        border-color: var(--negro);
        
        h6{
            color: var(--negro);
        }
        
        img{
            filter: brightness(0);
        }
        
    }
}

@mixin boton{
    appearance: none;
    border: none;
    outline: none;
    width: 100%;
    min-width: 150px;
    min-height: 44px;
    font-size: var(--h4);
    color: var(--negro);
    border: 1px solid var(--primario);
    border-radius: 10px;
    font-family: var(--primariaBold);
    transition: .3s ease-in-out all;

    &.primario{
        background: var(--primario);

        &:hover{
            background: #fff;
            border: 1px solid var(--primario);
        }
        
        &:disabled{
            background: var(--secundario);
            color: #fff;
            border: none;
        }
    }

    &.secundario{
        background: transparent;
        border: 2px solid var(--primario);

        &:hover{
            background: var(--primario);
            color: var(--blanco);
        }
    }

   

    &:focus{
        outline: none;
    }
    
}

@mixin input{
    
    position: relative;
    
    &.lleno{
        label{
            left: 0px;
            top: -25px;
            font-size: var(--h5);
        }    
        
    }
    
    label{
        position: absolute;
        font-size: var(--h4);
        color: var(--secundario);
        left: 30px;
        top: 15px;
        transition: .3s ease-in-out all;
        
        &.active{
            top: -25px;
            left: 0;
        }
    }
    
    input[type=text], textarea{
        appearance: none;
        border: 2px solid var(--grisClaro);
        outline: none;
        width: 100%;
        min-width: 160px;
        min-height: 54px;
        font-size: var(--h5);
        padding: 0 10px;
        font-family: var(--primariaBold);
        transition: .3s ease-in-out all;
        background: #FFFFFF;
        box-shadow: 0 2px 20px 0 rgba(120,159,183,0.16);
        border-radius: 8px;

        &::placeholder{
            color: var(--fondoGris);
        }

        &:focus{
            border: 2px solid var(--primario);
            color: var(--negro);

            &::placeholder{
                color: var(--negro);
            }
        }
    }
    
    textarea{
        padding: 10px;
    }
    
}

@mixin checkbox {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-bottom: 15px;
    flex-flow: column;

    input{
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
            background-color: var(--primario);
        }

        &:checked ~ .checkmark:after {
            display: block;
        }
    }
    
    .label{
        
        a{
            color: inherit;
            text-decoration: underline;
        }
    }
    
    .checkmark{
        height: 26px;
        width: 25px;
        border-radius: 5px;
        background: var(--primario);
        margin-right: 10px;
        position: relative;

        &:after{
            left: 7px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 8px;
            height: 12px;
            border: solid ;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            content: "";
            position: absolute;
            display: none;
        }
    }
    
    .msjError{
        flex: 0 0 100%;
        padding-left: 35px;
        display: none;
        
    }
}

@mixin buscador{
    appearance: none;
    border: 2px solid var(--grisClaro);
    outline: none;
    width: 100%;
    min-width: 160px;
    max-width: 350px;
    height: 44px;
    font-size: var(--h5);
    padding: 0 50px 0 10px;
    border-radius: 50px;
    font-family: var(--primariaBold);
    background: url(../../img/Lupa.svg) no-repeat 95% center / 20px;
    transition: .3s ease-in-out all;

    &::placeholder{
        color: var(--fondoGris);
    }

    &:focus{
        border: 2px solid var(--primario);
        color: var(--negro);
        
        &::placeholder{
            color: var(--negro);
        }
    }
}

@mixin combo {
    
    cursor: pointer;
    background: url(../../img/arrowBottom.svg) no-repeat 95% center / 15px #fff;
    min-height: 50px;
    border-radius: 8px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 20px 0 rgba(120,159,183,0.16);
    
    select{
        appearance: none;
        outline: none;
        border: none;
        font-size: var(--h4);
        background: transparent;
        color: var(--texto);
        transition: .3s ease-in-out all;
        width: 100%;
        cursor: pointer;
        
        &:focus{
            outline: none;
        }
    }
    
}



input[type=button], input[type=submit], .btn{
    @include boton;
}

.input__group{
    @include input;
}

input[type=search]{
    @include buscador;
}


textarea{
    resize: none;
    height: 120px;
    color: var(--negro);
    padding: 10px;
}

.chip{
    @include chips;
}

.error-input{
    color: red;
    font-size:var(--h6);
}

 .combo {
     @include combo;
 }
 
 .checkboxes{
     @include checkbox;
 }
