.hero{		
    height: 700px;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    background: url(../../img/Desktop/1Home/HeroImage.jpg) no-repeat center / cover fixed;
    
    .path1{
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1;
        opacity: 0;
    }
    
    &.sectionOn{
        .path1{
            opacity: 1;
            
            path{
                stroke-dasharray: 2000;
                stroke-dashoffset:2000;
                animation: draw 2s linear forwards;
                animation-iteration-count: 1;
                animation-delay: 0s;
            }
            @keyframes draw {
                to {
                    stroke-dashoffset: 0;
                }
            }
        }
    }
    
    .fondo3{
        position: absolute;
        // top: -200px;
        top: 0;
        right: 0;
        z-index: 1;
        // transform: rotateX(180deg) scale(.6);
        transform-origin: right;
        z-index: 0;
    }
    
    &--copy{
        z-index: 1;
        position: relative;
        bottom: 200px;
        
        h1{
            color: var(--blanco);
        }
        
        h3{
            color: var(--blanco);
        }
    }
    
    .btn--down{
        font-size: 2.8rem;
        position: absolute;
        bottom: 70px;
        left: 0;
        right: 0;
        margin: auto;
        color: var(--primario);
        width: max-content;
        flex-direction:column;
        
        
        h5{
            color: #fff;
            position: relative;
            text-align: center;
            margin-top: 10px;
        }
        
        span{
            transform: scaleX(.8);
            display: block;
            
            &:first-child{
                opacity: .5;
                top:20px;
                position: relative;
            }
        }
    }
}

.heroInt{
    background: #fff;
    height: auto;
    
    .container-fluid{
        padding-right: 0;
    }
    
    .offset-lg-2{
        margin-left: 10%;
    }
    
    .col-lg-10{
        padding-right: 0;
    }
    
    .col-9{
        display: flex;
        align-items: flex-end;
        
        .container{
            padding: 0;
        }
    }
    
    .hero--img{
        height: 680px;
        
        img{
            object-position: center top;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    
    .hero--copy{
        padding-left: 22%;
        position: absolute;
        bottom: 210px;
    }
   
    
    .path1{
        right: 0;
        left: auto;
    }    
}

@media (max-width:992px) {
    .hero{
        height: calc(540px + 10 * ((100vw - 320px) / 1280));
        
        .path1{
            width:100%;
        }
        
        .fondo3{
            width: 160%;
            top: -120px;
        }
        
        h3{
            font-size:var(--h2);
        }
        
        .btn--down h5{
            display: none;
        }
    }
    
    .heroInt{
        --altoHero: calc(560px + 1000 * ((100vw - 320px) / 640));

        height: var(--altoHero);
        
        .path1{
            width:100%;
        }
        
        .container-fluid{
            padding: 0px;    
        }
        
        .col-lg-9{
            padding:0;
        }
        
        .hero--img{
            height: var(--altoHero);
        }
        
        .hero--copy{
           padding-left: 15px;
        }
    }
    
}