footer.footer.d-flex
    .container
        .row.align-items-center
            .col-12
                h5
                    b Copyright 2021. 
                        br 
                        | Renova Industrial S.A. de C.V.
            
                  

        