
head
    link(rel="preload" href="css/styles.min.css" as="style")
    link(rel="shortcut icon" href="img/favicon.png" type="image/x-icon")
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title #{titulo}
    meta(name="description" content="Renova Insutrial - Optimizamos el manejo de tus residuos industriales con equipo moderno y especializado")
    link(rel="stylesheet" href="css/styles.min.css")
    script(src="js/scripts.min.js", async defer)