header.header
    .container-fluid
        .row    
            .col-12.header--navegacion
                .header--navegacion--logo
                    a(href="./") 
                        .header--navegacion--logo--img.d-flex
                            img.img-fluid.logoGiro#logo1(src="img/logo1.svg")
                            img.img-fluid(src="img/logo2.svg")

                nav.navbar-expand-lg
                    .btnHam(data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                        
                    div.collapse.navbar-collapse#navbarNav
                        ul
                        
                            li#li-s1(class=servicios)
                                a(href="servicios.html")  Servicio integral
                        
                            li#li-s2(class=materiales)
                                a(href="materiales.html") Materiales
                        
                        
                        a#linkContacto(href="index.html#contacto") 
                            button.btn.primario(class=contacto) Contacto