section.hero.d-flex
    img.fondo3(src="img/fondo3.svg", alt="")
    svg.path1(width='800px' height='550px' viewBox='0 0 351 824')
        g.Page-1(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
            path(d="M605.17587,212.754793 L273.309611,12.5888319 C178.725359,-44.4598949 55.8025434,-14.0313402 -1.24618334,80.552911 C-14.610573,102.710474 -23.5482399,127.250894 -27.5635879,152.813396 L-113.251577,698.320146 L-113.251577,698.320146" id="Path-5-Copy" stroke="#F9BB00" stroke-width="2" transform="translate(245.962146, 278.638682) rotate(-120.000000) translate(-245.962146, -278.638682) ")
            
    .container
        .row.objetFade
            .col-12.col-lg-9.offset-lg-3
                .hero--copy
                    h3 #{subTituloHero}
                    h1 
                        b #{tituloHero}
                
        .btn--down.d-flex
            span.icon-Chevron
            span.icon-Chevron