

@font-face {
	font-family: 'Blinker-Regular';
	src: url('../fonts/PrimariaRegular/Blinker-Regular.eot');
	src: local('☺'), 
		url('../fonts/PrimariaRegular/Blinker-Regular.woff') format('woff'), 
		url('../fonts/PrimariaRegular/Blinker-Regular.ttf') format('truetype'), 
		url('../fonts/PrimariaRegular/Blinker-Regular.otf') format('opentype'), 
		url('../fonts/PrimariaRegular/Blinker-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Blinker-Bold';
	src: url('../fonts/PrimariaBold/Blinker-Bold.eot');
	src: local('☺'), 
		url('../fonts/PrimariaBold/Blinker-Bold.woff') format('woff'), 
		url('../fonts/PrimariaBold/Blinker-Bold.ttf') format('truetype'), 
		url('../fonts/PrimariaBold/Blinker-Bold.otf') format('opentype'), 
		url('../fonts/PrimariaBold/Blinker-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Dina-Bold';
	src: url('../fonts/SecundariaRegular/DINAlternate-Bold.eot');
	src: local('☺'), 
		url('../fonts/SecundariaRegular/DINAlternate-Bold.woff') format('woff'), 
		url('../fonts/SecundariaRegular/DINAlternate-Bold.ttf') format('truetype'), 
		url('../fonts/SecundariaRegular/DINAlternate-Bold.otf') format('opentype'), 
		url('../fonts/SecundariaRegular/DINAlternate-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


