.contacto{
    .dedicamos{
		position: relative;
		background: url(../../img/fondo2.svg) no-repeat left top /  contain;
        padding-left: 50px;
        
        .objetFade{
            img{
                left:-100%;
                position: relative;
            }	
            
            h1,h2,h3,h4,h5,h6,a, form{
                transform: translateX(50%);
            }
           
            &.transition1{
                img{
                    left: 0;
                }
                h1,h2,h3,h4,h5,h6,a, form{
                    transform: translateX(0%);
                }
                
                form{
                    opacity: 1;
                }
            
            }
        } 
        
		.poligono{
			top:100px;	
			right: -30px;
			animation: mancha 15s linear infinite reverse;
		}
		
		.path1{
			position: absolute;
			left: -40px;
			top: -20px;
			z-index: 0;
		}
        
        &--copy{
			
			z-index: 2;
			position: relative;
			
			.titleBig{
				margin-bottom: 30px;
			}
            
        }
        
        form{
            margin: 50px 0;
            display: grid;
            grid-template-columns: repeat(2, [col-start] 1fr);
            position: relative;
            transition:1s ease-in-out all;
            opacity: 0;
            
            .input__group{
                margin-bottom: 35px;
                width: 90%;
            }
            
            #ayudaGroup{
                grid-column: col-start 2/span 2;
                grid-row: 1/1;
            }
            
            #msjGroup{
                grid-column: col-start 2/span 2;
                grid-row: 2/4;
                
                textarea{
                    height: 150px;
                }
            }
            
            #telefonoGroup{
                grid-column: col-start 1/span 1;
                grid-row: 3/4;
            }
            
            .btn{
                grid-column: col-start 2/span 2;
                grid-row: 4/4;
                max-width: 150px;
                justify-self: flex-end;
                margin-right: 40px;
            }
        }
        
        
    }
    
    .mapa{
        position: relative;
		background: url(../../img/Form04.svg) no-repeat left top /  contain var(--texto);
        padding:40px 0 40px 15px;
        
        .objetFade{
            
            h1,h2,h3,h4,h5,h6,a, form{
                transform: translateX(50%);
            }
            
            .mapa__imagen__tooltip{
                transform:scale(0);
                transition: 1s ease-in-out all;
            }
            
            &.transition1{
               
                h1,h2,h3,h4,h5,h6,a, form{
                    transform: translateX(0%);
                }
                
                form{
                    opacity: 1;
                }
                
                .mapa__imagen__tooltip{
                    transform:scale(1);
                }
            }
        } 
        
        .path1{
			position: absolute;
			left: 0px;
			bottom: 0px;
			z-index: 0;
			width: calc(1000px + 1500 * ((100vw - 1280px) / 1920));
			height: calc(800px + 1300 * ((100vw - 1280px) / 1920));
		}
        
        .titleBig{
            color: #fff;
            position: absolute;
            left:0;
            top: 60px;
            text-shadow: 3px 3px 10px #6b6b6b;
            z-index: 1;
        }
        
        &__imagen{
            &__tooltip{
                background: #fff;
				padding: 20px 30px 0px 20px;
				box-shadow: 0 2px 40px 0 rgba(120,159,183,0.16);
				border-radius: 8px 8px 40px 8px;
				position: absolute;
				
				&:before{
                    content: "\e90c";
					font-family: 'icomoon' !important;
					width: 60px;
					height: 60px;
					background: var(--primario);
					position: absolute;
					bottom: -5px;
					left: -5px;
					border-radius: 8px;
					font-size: 1.6em;
					display: flex;
					align-items: center;
					justify-content: center;
				}
                
                h3{
                    color: var(--secundario);
                }
                
                ul{
                    margin-top: 10px;
                    list-style: none; 
                    padding-left:50px;   
                }
                
                &#tooltip1{
                    top: 70px;
                    right: 185px;
                }
                
                &#tooltip2{
                    bottom: 40px;
                    right: 155px;
                    
                    &:before{
                        right:-5px;
                        top: -5px;
                        left: auto;
                    }
                }
                 
                &#tooltip3{
                    bottom: 40px;
                    left: 180px;
                    
                    &:before{
                        right:-5px;
                        top: -5px;
                        left: auto;
                    }
                }
                
            }
        }
    }
}

&.body-contacto{
    .modal{
        h2{
            text-align: center;
            color: var(--secundario);
            margin-bottom: 20px;
        }
        
        h3{
            text-align: center;
        }
        
        .btn{
            margin: 50px auto 0;
            width: 80%;
            display: block;
        }
        
    }
}

@media (max-width:992px) {
    .contacto{
        .dedicamos{
            padding:120px 0 0;    
            
            form{
                display: flex;
                flex-direction: column;
                
                .input__group{
                    width:100%;
                    
                    &#ayudaGroup{
                        order: 4;
                    }
                    
                    &#msjGroup{
                        order: 5;
                        margin-bottom: 20px;
                    }
                }
                
                #cajaLegal{
                    order: 6;
                }
                
                #enviarContacto{
                    order: 7;
                    margin: 20px auto 0;
                    max-width: none;
                }
            }
            
            .linkBorder{
                margin:10px auto 50px;
                text-align: center;
                display: block;
                width:max-content;
            }
        }
        
        .mapa{
            padding:var(--paddingSection);
            
            .titleBig{
                position: relative;
                top: 0;
                margin-bottom: 30px;
            }
            
            &__imagen{
                counter-reset: tooltip;
                
                img{
                    margin-bottom: 30px;
                }
                
                &__tooltip{
                    position: relative;       
                    left:auto !important;
                    top: auto !important;
                    right:auto !important;
                    bottom:auto !important;
                    margin-bottom: 30px;
                    padding-bottom: 10px;
                    
                    
                    &::before{
                        top: -5px;
                        right: -5px;
                        left: auto;
                        counter-increment: tooltip;
                        content: counter(tooltip);
                        font-family: var(--primariaBold) !important;
                        width:44px;
                        height:44px;
                    }
                }
            }
        }
    }   
    
    &.body-contacto{
        .modal-dialog{
            margin: .5rem;
        }
        .modal-content{
            border-radius:15px 15px 70px 15px;
        }
        
        .modal-body{
            padding-top: 40px;
        }
        
        .close{
            top: 20px;
        }
    }
}