
.materiales{
    .hero{
        background: var(--fondoClaro);
        
        h1{
            margin-bottom: 50px;
        }
        
        &--links {
            &__link{
                align-items: center;
                margin-right: 30px;
                cursor:pointer;
                
                h3{
                    color: #fff;
                }
                
                .btn--down{
                    position: relative;
                    bottom:5px;
                    flex-direction: row;
                    transform: rotate(90deg) scale(.8);
                    
                    span{
                        animation: none;
                        
                        &:first-child{
                            top: 0;
                            left: 15px;
                        }
                    }
                    
                    
                }
                
                &:hover{
                    .btn--down{
                        animation: flecha 1.5s ease-in-out infinite;	
                    }
                    
                    @keyframes flecha{
                        0% {
                            transform: rotate(90deg) translateX(0px) scale(.8);
                            opacity: 1;
                        }
                        
                        50% {
                            transform: rotate(90deg) translateX(10px) scale(.8);
                            opacity: 1;
                        }
                        
                        100% {
                            transform: rotate(90deg) translateX(10px) scale(.8);
                            opacity: 0;
                        }
                    }
                }
            }
        }  
        
        &--copy{
            bottom: 130px;
        }
    }
    
    .grid{
        background: var(--fondoClaro);
        padding: 120px 0 0;
        position: relative;
        
        .poligono{
			bottom:100px;	
			right: -30px;
		}
		
		.path1{
			position: absolute;
			left: 100px;
			top: 100px;
			z-index: 0;
			width: calc(750px + 750 * ((100vw - 1280px) / 1920));
			height: calc(550px + 50 * ((100vw - 1280px) / 1920));
		}
        
        .col-xl-5{
			padding-left: 0;	
			align-self: flex-end;
		}

        .cajaImagen{
            position: absolute;
            top: -100px;
            left: 0;
        }
       
        #retorno{
            .cajaImagen{
                top: -300px;
            }
        }
		
        .swiper{
            
            &-wrapper{
                flex-flow: row;
            }
            
            &-container{
                width: 100%;
                margin: 40px 0;
            }
            
            &-nav{
                position: absolute;
                top: 50px;
                right: 30px;
                z-index: 1;
                min-width: 100px;
            }
            
            &-slide{
                align-items: center;
                justify-content: center;
                height: 60px;
                background: #FFFFFF;
                box-shadow: 0 2px 40px 0 rgba(120,159,183,0.16);
                border-radius: 8px 8px 30px 8px;
                font-size: var(--h3);
                width: max-content;
                //min-width: 150px;
                //width: auto;
                
                a{
                    text-decoration: none;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 25px;
                    transition: .3s ease-in-out all;
                }
                
                &.active{
                    background: var(--secundario);
                    
                    span{
                        color: #FFFFFF;
                    }
                    
                    .nav-link{
                        &::before{
                            color: var(--primario);
                        }
                    }
                }
                
                &__card{
                    border-radius: 8px 8px 40px 8px;    
                    overflow: hidden;
                    cursor: pointer;
                    position: relative;
                    
                    &::after{
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(33, 40, 45, 0.8);
                        opacity: 0;
                        transition: .3s ease-in-out all;
                    }
                    
                    &:hover{
                        &::after{
                            opacity: 1;
                        }
                        
                        
                        .swiper-slide__card__copy{
                            bottom: 0;
                            
                            h3{
                                opacity: 1;
                            }
                        }
                    }
                    
                    &__img{
                        overflow: hidden;
                        height: 300px;
                        
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    
                    &__copy{
                        position: absolute;
                        bottom: -60px;
                        padding: 40px;
                        z-index: 1;
                        transition: .3s ease-in-out all;
                        
                        h2{
                            color: #FFFFFF;
                            position: relative;
                            bottom: 0;
                            margin-bottom: 10px;
                        }
                        
                        h3{
                            color: #FFFFFF;
                            opacity: 0;
                        }
                    }
                }
                
               
            }
        }
        
        .tab-content{
            position: relative;
            width: 100%;
        }
        
        .tab-pane{
            min-height: 300px;
            
            ul{
                flex-flow: wrap;
                
                li{
                    flex: 0 0 50%;    
                    font-size: var(--h4);
                    
                    &::marker{
                        color: var(--primario);
                    }

                    ul{
                        padding-left: 20px;
                    }
                }
            }
            
            &#plasticos{
                li{
                    flex: 0 0 33%;
                }
            }
            
            &#metales, &#materiales{
                li{
                    flex: 0 0 100%;
                }
            }
        }

        .acordeon{
            display: none;
        }
    }
    
    .promos{
        padding-left: 50px;
        position: relative;
        background: url(../../img/fondo2.svg) no-repeat left top /  contain;
        
        .poligono{
			top:100px;	
			right: -30px;
			animation: mancha 15s linear infinite reverse;
		}
		
		.path1{
			position: absolute;
			left: -40px;
			top: -20px;
			z-index: 0;
		}
        
        .row{
            position: relative;
        }
        
        
        .objetFade {
            .promos--copy__card{
                transform: translateX(50px) !important;  
                transition: 1s ease-in-out all; 
            }
        }
        
        .transition1{
			.promos--copy__card{
				transform: translateX(0px) !important;
				opacity: 1;
			}	
		}
		
		.objetFade-On{
			.promos--copy__card{
				transition: .4s ease-in-out all !important;
			}
		}
		
		
		&--copy{
			z-index: 2;
			position: relative;
			
			.titleBig{
				margin-bottom: 80px;
			}
			
			&__card{
				background: #fff;
				padding: 80px 35px 35px;
				box-shadow: 0 2px 40px 0 rgba(120,159,183,0.16);
				border-radius: 8px 8px 40px 8px;
				position: relative;
				cursor: pointer;
				opacity: 0;
				
				&:before{
					content: "\e907";
					font-family: 'icomoon' !important;
					width: 60px;
					height: 60px;
					background: var(--primario);
					position: absolute;
					top: -5px;
					left: -5px;
					border-radius: 8px;
					font-size: 2em;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				
				&:hover{
					
					.btn{
						opacity: 1;
					}
				}
				
				
				h2{
					margin: 10px 0 50px;
				}
				
				.btn{
					max-width: 160px;
					opacity: 0;
					position: absolute;
					bottom: 30px;
					transition: .3s ease-in-out all;
				}
			}
        }
        
        .swiper{
            &-container{
				min-height: calc(350px + 150 * ((100vw - 1280px) / 1920));
			}
			
			&-slide{
				height: calc(230px + 150 * ((100vw - 1280px) / 1920));
				transition: 1s ease-in-out all;
				flex: 0 0 30.333333%;
                max-width: 30.333333%;
    
				&:hover{
					.promos--copy__card{
						padding-bottom: 60px;	
					}
				}
			}
            
            &-nav{
                position: absolute;
                top: 50px;
                right: 30px;
                z-index: 9;
                min-width: 100px;
                display: none;
            }
            
            &-pagination{
                justify-content: flex-end;
                position: absolute;
                bottom: 0;
                right: 30px;
                display: none !important;
            }
        }
    }
    
    .objetFade{
        img{
            left:-100%;
            position: relative;
        }	
        
        h1,h2,h3,h4,h5,h6,a{
            transform: translateX(50%);
        }
        
        &.transition1{
            img{
                left: 0;
            }
            h1,h2,h3,h4,h5,h6,a{
                transform: translateX(0%);
            }
        }
    } 
}

///  FULL
@media (min-width:1920px) {
    .materiales{
        .promos .col-lg-9.offset-lg-3.offset-xl-4{
            padding-left: 30px;
            margin-left: 27.33%;
            max-width: 70%;
        }
    }
}

///  MOBILE

@media (max-width:992px) {
    .materiales{
        .path1{
            display: none;
        }
        
        .hero{
            &--links{
                flex-direction: column;     
                
                &__link{
                    width:max-content;
                    margin-bottom: 20px;
                }
            }
        }
        
        .grid{
            padding:var(--paddingSection);
            padding-bottom: 0;

            .col-xl-5{
                padding: 0 15px;
            }
            
            .cajaImagen{
                position: relative;
                top: 0 !important;
                order: 2;
                padding: 0;
            }
            
            &--img{
                transform: none !important;
            }
            
            .combo{
                margin: 30px 0 10px;
                display: flex;
            }

            .swiper-container{
                margin: 30px 0 10px;
                display: none;
            }
            
            .swiper-nav{
                display: none;
            }
            
            .tab-pane {
                min-height: 200px;
                flex-direction: column;
                display: none;


                ul {
                    margin-top: 30px;

                    li{
                        flex: 0 0 100%;
                    }
                }
                
                &#plasticos li{
                    flex:0 0 50%;
                }
            }
            
            .contacto--copy{
                margin-bottom: 30px;
            }

            #collapseExample1{
                ul li{
                    flex: 0 0 48%;
                }
            }

            .acordeon{
                flex-direction: column;
                display:flex;
                margin-bottom: 10px;

                ul{
                    flex-flow: wrap;
                    padding: 0 20px;
                    justify-content: space-between;

                    li{
                        flex: 0 0 100%;    
                        font-size: var(--h4);
                        
                        &::marker{
                            color: var(--primario);
                        }
                    }
                }

                .card{
                    padding: 20px 0 0;
                }

                #otros{
                    order: 10;
                }
            }

            #acordeon5{
                display: none;
            }

            #tabGestion::after{
                display: none;
            }
        }
        
        .promos{
            padding:var(--paddingSection);
            
            .titleBig{
                margin-bottom: 30px;
            }
            
            .swiper-nav, .swiper-pagination{
                display: none !important;
            }

            .swiper-wrapper{
                flex-direction: column;
            }
            
            .swiper-slide{
                flex: 0 0 100%;
                max-width: 100%;
                height: auto;
                margin-bottom: 30px;
                
                &:hover{
                    .promos--copy__card{
                        padding-bottom: 35px;
                    }
                }
            }
            
            .swiper-pagination {
                right: auto;
                justify-content:center;
            }
            
            .promos--copy__card {
                padding:80px 15px 35px;
                
                .btn{
                    position: relative;
                    bottom: 0;
                    opacity: 1;
                }
            }
        }
    }   
}