- titulo = "Renova Industrial"

doctype
html(lang='es')

   include includes/head.pug

   body
      include includes/header.pug

      main.legales
         section 
            .container 
               .row 
                  .col-12.col-lg-10.offset-lg-2

                     h1 Aviso de privacidad
                     br
                     p El presente aviso de privacidad se extiende con fundamento en lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en lo sucesivo la “LEY”), para lo cual RENOVA INDUSTRIAL S.A. DE C.V. (en lo sucesivo “RENOVA INDUSTRIAL”), con domicilio comercial para oír y recibir notificaciones Nogal 908, Col. Arboledas, Querétaro, Qro.; tiene a bien informar lo siguiente:

                     p 1.- “RENOVA INDUSTRIAL”, solicitará los siguientes datos personales necesarios: a) Información para identificarlo: el nombre completo, correo electrónico y número telefónico (Fijo y/o Móvil), en el que se le pueda localizar, y de aquella que contenga en su currículum como: fecha de nacimiento, domicilio, nacionalidad, último grado de estudios, CURP, RFC, estado civil, domicilio completo, código postal, número de seguridad social y aquellas anexas por el prospecto; aclarando que esta información es de forma enunciativa más no limitativa, en virtud de que depende de la información que proporcionen los candidatos.

                     p b) En caso de ser extranjero, el domicilio del país de origen, pasaporte, documento que acredita su legal estancia en el país. Información de su historial de empleo que incluya el nombre, domicilio y teléfono de las empresas para las que ha laborado, así como el puesto desempeñado, la fecha de ingreso y fecha de salida, así como de empleo reciente o actual.

                     p c) Documentos que sean proporcionados por el candidato y que contengan los datos personales indicados en el inciso a) anterior, entre los que se encuentran copia de: acta de nacimiento, acta de matrimonio (cuando aplique), CURP, del documento que contenga el número de afiliación de seguridad social, comprobante de domicilio no mayor a tres meses, del documento que contenga la clave de RFC con homoclave, identificación oficial, de certificado de último grado de estudios, licencia de conducir vigente (en caso de ser necesario), carta de antecedentes no penales, aviso retención INFONAVIT (cuando aplique) y cartas de recomendación de los últimos 3 empleos.

                     p La simple aportación que haga de sus datos personales mediante su envío a nuestra Bolsa de Trabajo a través de nuestra página de Internet, constituye la aceptación de estos términos y condiciones, y en consecuencia nos autoriza expresamente al tratamiento de sus datos personales.

                     p 2.- Al ingresar sus datos en nuestro formulario en línea que aparece en la página de Internet de “RENOVA INDUSTRIAL”, usted acepta y autoriza utilizar y tratar de forma automatizada sus datos personales, los cuales formarán parte de nuestra base de datos con la finalidad de usarlos para: identificarlo, ubicarlo, comunicarnos con usted, contactarlo, enviarle información para cumplir con el exclusivo propósito de participar en los procesos de selección de personal y aplicar a los diversos puestos de trabajo vacantes que tenga “RENOVA INDUSTRIAL”.

                     p Asimismo, se informa que los datos por usted proporcionados, no serán tratados para finalidades secundarias o diversas a las que se especifican en el párrafo precedente.

                     p 3.- El candidato garantiza que toda la información de carácter personal que facilite es exacta y está puesta al día de forma que responde con veracidad a la situación actual del candidato. Corresponde y es obligación del candidato mantener, sus datos actualizados, siendo éste el único responsable de la inexactitud o falsedad de los mismos y de los perjuicios que pueda causar por ello a “RENOVA INDUSTRIAL” o a terceros.

                     p 4.- De no reunir el perfil de puesto vacante, mantendremos sus datos el periodo que de forma interna determine “RENOVA INDUSTRIAL”, a partir de la última modificación efectuada en su perfil del candidato. Si usted quiere ejercer su derecho de acceso, rectificación, cancelación u oposición puede hacerlo.

                     p 5.- “RENOVA INDUSTRIAL”, no revelará información de los candidatos a menos que el mismo lo autorice, o en su caso, se requiera por autoridades competentes de conformidad con las disposiciones legales aplicables.

                     p Los datos serán mantenidos en estricta confidencialidad de conformidad con las medidas de seguridad administrativas, técnicas y físicas que RENOVA INDUSTRIAL implemente.

                     p Por otra parte, “RENOVA INDUSTRIAL” se sujetará a limitar el uso y divulgación de los datos personales que no sean indispensables para los métodos de mercadeo o publicidad.

                     p 6.- El candidato tiene el derecho a limitar el uso o divulgación de sus datos personales, así como a ejercer los derechos de Acceso, Rectificación, Cancelación y Oposición, contenidos en el capítulo IV de la LEY, estableciendo para estos fines el Departamento Recursos Humanos y la siguiente dirección de correo electrónico como medio de contacto reclutamiento@renovaindustrial.com; para lo cual se requerirá lo siguiente:

                     p a) Elaborar un escrito de solicitud para ejercer los derechos ARCO, el cual deberá contener datos generales: nombre completo, domicilio, RFC, CURP, fecha de nacimiento, teléfono; así como el medio para contactarle la respuesta a su solicitud;

                     p b) Adjuntar Documentos que acrediten la identidad para facultar y ejercer los derechos conferidos o, en su caso, la del representante legal del titular como podrán ser:

                     ul 
                        li 1. IFE o INE
                        li 2. Pasaporte Vigente
                        li 3. Cédula Profesional
                        li 4. Cartilla del Servicio Militar
                        li 5. Certificado de Matrícula Consular
                        li 6. Tarjeta de Identidad Militar
                        li 7. Tarjeta INAPAM
                        li 8. Licencia de Conducir
                        li 9. Identificación Oficial Vigente expedida por el Gobierno Federal, Estatal o Municipal li 10. Tarjeta o Cédula de Identidad para Extranjeros
                        li 11. Formato FM2 o FM3 en caso de extranjeros; pretende realizar algún derecho conferido en la LEY;   

                     p b) Cualquier otro elemento o documento que facilite la localización de los datos personales

                     p c) En caso de considerarlo necesario el expresar la justificación que considere pertinente.

                     p 7.- El tiempo máximo en que recibirá respuesta a su solicitud respecto al punto 6 del presente instrumento, será conforme a lo establecido en el Artículo 32 de la “LEY”.

                     p Por otra parte, el candidato podrá revocar el consentimiento que ha otorgado a RENOVA INDUSTRIAL para el tratamiento de sus datos personales, a fin de que RENOVA INDUSTRIAL deje de hacer uso de los mismos.

                     p Para ello, es necesario que el candidato presente su petición en los términos antes mencionados.

                     p Para el caso de que la solicitud sea presentada por una persona distinta al candidato, deberá exhibir el documento legal que lo acredite como tal, anexando copia simple de su identificación oficial vigente.

                     p 8.- En el caso de que haya algún cambio o modificación al presente Aviso de Privacidad, lo informaremos a través de nuestra página de Internet.

                     p 9.- En los términos del presente Aviso, se les informa que para la interpretación y/o cumplimiento de los anteriores términos y condiciones de seguridad, privacidad y legalidad, tanto el Titular de los datos personales, así como “RENOVA INDUSTRIAL”, estarán a lo regulado por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y sus normas complementarias y que en caso de controversia aceptan en sujetarse a la jurisdicción de los tribunales competentes de la Ciudad de Querétaro, Querétaro, renunciando desde ahora al fuero que pudiera corresponderles en razón de sus domicilios presentes y/o futuros o por cualquier otra causa.

                     p 10.- Si el candidato considera que su derecho de protección de datos personales ha sido lesionado por alguna conducta de nuestros empleados o de nuestras actuaciones o respuestas, presume que en el tratamiento de datos personales existe alguna violación a las disposiciones previstas en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, podrá interponer la queja o denuncia correspondiente ante el IFAI; para mayor información visite la página www.ifai.org.mx

                     p Atentamente

                     p Renova Industrial S.A. de C.V.

      include includes/footer.pug


