- titulo = "Materiales - Renova Industrial";
- materiales = "activo";

doctype
html(lang='es')

    include includes/head.pug

    body.body-materiales
        include includes/header.pug
        main.materiales

            section.hero.heroInt.d-flex
                .container-fluid
                    .row 
                        .col-lg-2

                        .col-lg-10.col-xl-9.offset-xl-1
                            img.fondo3(src="img/FormIntBlanco.svg" alt="Renova Industrial")
                            #triggerHero
                            svg.path1(width='800px' height='550px' viewBox='0 0 351 824')
                                g.Page-1(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                    path(d="M605.17587,212.754793 L273.309611,12.5888319 C178.725359,-44.4598949 55.8025434,-14.0313402 -1.24618334,80.552911 C-14.610573,102.710474 -23.5482399,127.250894 -27.5635879,152.813396 L-113.251577,698.320146 L-113.251577,698.320146" id="pathHero" stroke="#F9BB00" stroke-width="2" transform="translate(245.962146, 278.638682) rotate(-120.000000) translate(-245.962146, -278.638682) ")

                            //-.img-holder-hero(data-image="img/Desktop/1Home/HeroImage.jpg")

                            .container-fluid
                                .row.objetFade
                                    .col-12
                                        .hero--img
                                            picture

                                                source(media="(max-width: 992px)" srcset="img/Mobile/3Materiales/HeroImage.webp" type="image/webp")

                                                source(media="(max-width: 992px)" srcset="img/Mobile/3Materiales/HeroImage.png")

                                                source(srcset="img/Desktop/3Materiales/HeroImage.webp" type="image/webp")

                                                img.img-fluid(src="img/Desktop/3Materiales/HeroImage.jpg" alt="Renova Insutrial")


                                        .hero--copy
                                            h1 
                                                b Quiero comprar materiales reciclados


                                            .hero--links.d-flex
                                                .hero--links__link.d-flex#link-grid
                                                    h2 Ver materiales
                                                    .btn--down.d-flex 
                                                        span.icon-Chevron
                                                        span.icon-Chevron

                                                .hero--links__link.d-flex#link-promos
                                                    h2 Conoce las promociones
                                                    .btn--down.d-flex 
                                                        span.icon-Chevron
                                                        span.icon-Chevron

            section.grid
                #triggerContacto
                svg.path1(width='700px' height='700px' viewBox='0 0 1250 900')
                    g.Page-1(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                        path(d="M1211.2503,532.284649 L660.063824,110.319333 C572.357564,43.1750877 446.826426,59.8438944 379.682181,147.550155 C360.550125,172.541143 347.586194,201.694655 341.844551,232.640068 L207.563996,956.364533 L207.563996,956.364533" id="pathContacto" stroke="#F9BB00" stroke-width="2" transform="translate(709.407147, 434.291044) rotate(-302.000000) translate(-709.407147, -434.291044)")

                .container-fluid
                    .row.align-items-center.objetFade
                        .col-12.col-lg-6.col-xl-5.offset-lg-6
                            .contacto--copy.objParallax
                                h3 Contamos con los mejores
                                h2.titleBig
                                    b Materiales

                            .swiper-container.sliderMateriales
                                ul.swiper-wrapper.nav#myTab(role='tablist')

                                    li.nav-item.swiper-slide.d-flex.active
                                        a#retorno-tab(data-toggle='tab' href='#retorno' role='tab' aria-controls='retorno' aria-selected='true') 
                                            span Retorno industrial

                                    li.nav-item.swiper-slide.d-flex
                                        a#plasticos-tab(data-toggle='tab' href='#plasticos' role='tab' aria-controls='plasticos' aria-selected='false') 
                                            span Plásticos

                                    li.nav-item.swiper-slide.d-flex
                                        a#metales-tab(data-toggle='tab' href='#metales' role='tab' aria-controls='metales' aria-selected='false') 
                                            span Metales y Acero inoxidable

                                    li.nav-item.swiper-slide.d-flex
                                        a#materiales-tab(data-toggle='tab' href='#materiales' role='tab' aria-controls='materiales' aria-selected='true') 
                                            span Materiales comerciales

                                    li.nav-item.swiper-slide.d-flex
                                        a#carton-tab(data-toggle='tab' href='#carton' role='tab' aria-controls='carton' aria-selected='false') 
                                            span Cartón y madera

                                    li.nav-item.swiper-slide.d-flex
                                        a#basura-tab(data-toggle='tab' href='#basura' role='tab' aria-controls='basura' aria-selected='false') 
                                            span Gestión de basura industrial

                            .swiper-nav
                                .swiper-button-prev
                                .swiper-button-next

                    .row.align-items-center.objetFade
                        .tab-content#myTabContent

                            .tab-pane.fade.show.active#retorno(data-title='Retorno industrial' role='tabpanel' aria-labelledby='retorno-tab')
                                .col-12.col-lg-6.col-xl-5.cajaImagen
                                    .grid--img
                                        picture 
                                            source(srcset="img/Desktop/3Materiales/01-retornoindustrial.webp" type="image/webp")
                                            img.img-fluid(src="img/Desktop/3Materiales/01-retornoindustrial.png" alt="Renova Industrial")

                                .col-12.col-lg-6.col-xl-5.offset-lg-6
                                    .contacto--copy.objParallax
                                        ul.d-flex
                                            each val in ['PACA DE PRIMERA', 'BAJO Mn', 'MEDIO Mn', 'BUSHELING', 'GALVANIZADA Y NEGRA', 'PACA Y ESTRUCTURA', 'MIXTO', 'MAQUINARIA OBSOLETA', 'REBABAS', 'PUNTAS Y COLAS']
                                                li= val

                            .tab-pane.fade#plasticos(data-title='Plásticos' role='tabpanel' aria-labelledby='plasticos-tab')
                                .col-12.col-lg-6.col-xl-5.cajaImagen
                                    .grid--img(data-enllax-ratio=".2" data-enllax-type="foreground")
                                        picture 
                                            source(srcset="img/Desktop/3Materiales/02-plasticos.webp" type="image/webp")
                                            img.img-fluid(src="img/Desktop/3Materiales/02-plasticos.png" alt="Renova Industrial")

                                .col-12.col-lg-6.col-xl-5.offset-lg-6
                                    .contacto--copy.objParallax
                                        ul.d-flex
                                            each val in ['ABS', 'PS', 'PP', 'PC', 'HDPE', 'PACA Y ESTRUCTURA', 'POM', 'PPO', 'PA', 'TPE', 'PVC', 'OTROS', 'PURGAS', 'SAN']
                                                li= val

                            .tab-pane.fade#metales(data-title='Metales y Acero inoxidable' role='tabpanel' aria-labelledby='metales-tab')
                                .col-12.col-lg-6.col-xl-5.cajaImagen
                                    .grid--img(data-enllax-ratio=".2" data-enllax-type="foreground")
                                        picture 
                                            source(srcset="img/Desktop/3Materiales/03-metalesyacero.webp" type="image/webp")
                                            img.img-fluid(src="img/Desktop/3Materiales/03-metalesyacero.png" alt="Renova Industrial")

                                .col-12.col-lg-6.col-xl-5.offset-lg-6
                                    .contacto--copy.objParallax
                                        ul.d-flex
                                            each val in ['Aluminio Acero Inoxidable series 200', 'Cobre Acero Inoxidable series 300', 'Latón Acero Inoxidable series 400']
                                                li= val

                            .tab-pane.fade#materiales(data-title='Materiales comerciales' role='tabpanel' aria-labelledby='materiales-tab')
                                .col-12.col-lg-6.col-xl-5.cajaImagen
                                    .grid--img(data-enllax-ratio=".2" data-enllax-type="foreground")
                                        picture 
                                            source(srcset="img/Desktop/3Materiales/04-materialescomerciales.webp" type="image/webp")
                                            img.img-fluid(src="img/Desktop/3Materiales/04-materialescomerciales.png" alt="Renova Industrial")

                                .col-12.col-lg-6.col-xl-5.offset-lg-6
                                    .contacto--copy.objParallax
                                        ul.d-flex
                                            each val in ['Rollos de lámina galvanizada', 'Lámina negra', 'Lámina pintro', 'Cintas', 'Recortes comerciales', 'Placa']
                                                li= val

                            .tab-pane.fade#carton(data-title='Cartón y madera' role='tabpanel' aria-labelledby='carton-tab')
                                .col-12.col-lg-6.col-xl-5.cajaImagen
                                    .grid--img(data-enllax-ratio=".2" data-enllax-type="foreground")
                                        picture 
                                            source(srcset="img/Desktop/3Materiales/05-cartonymadera.webp" type="image/webp")
                                            img.img-fluid(src="img/Desktop/3Materiales/05-cartonymadera.png" alt="Renova Industrial")

                                .col-12.col-lg-6.col-xl-5.offset-lg-6
                                    .contacto--copy.objParallax
                                        ul 
                                            li Cartón nacional
                                            li Cartón americano

                            .tab-pane.fade#basura(data-title='Gestión de basura industrial' role='tabpanel' aria-labelledby='basura-tab')

                                .col-12.col-lg-6.col-xl-5.cajaImagen
                                    .grid--img(data-enllax-ratio=".2" data-enllax-type="foreground")
                                        picture 
                                            source(srcset="img/Desktop/3Materiales/06-gestiondebasura.webp" type="image/webp")
                                            img.img-fluid(src="img/Desktop/3Materiales/06-gestiondebasura.png" alt="Renova Industrial")

                                .col-12.col-lg-6.col-xl-5.offset-lg-6
                                    .contacto--copy.objParallax
                                        h4 






            section.promos#promociones
                img.img-fluid.poligono(src="img/Form03.svg" alt="Renova Industrial")

                #triggerDedicamos
                svg.path1(width='800px' height='800px' viewBox='0 0 1000 1100')
                    g.Page-1(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                        path(d="M829.358284,449.674323 L449.519976,181.2579 C359.313246,117.51244 234.510337,138.963537 170.764877,229.170267 C154.089911,252.767149 142.72582,279.696927 137.454748,308.106136 L0.703458895,1045.14698 L0.703458895,1045.14698" id="pathDedicamos" stroke="#F9BB00" stroke-width="2" transform="translate(415.030872, 523.073489) rotate(-180.000000) translate(-415.030872, -523.073489) ")

                .container-fluid
                    .row.align-items-center.objetFade
                        .col-12.col-lg-9.offset-lg-3.offset-xl-4
                            .swiper-nav
                                .swiper-button-prev#prev1
                                .swiper-button-next#prev2


                        .col-12.col-lg-9.offset-lg-3.offset-xl-4
                            .promos--copy
                                h3 Descubre nuestras
                                h2.titleBig
                                    b Promociones 

                                h2#textComing
                                    b Próximamente

                            .swiper-container.sliderPromos
                                .swiper-wrapper
                                    - var n = 0;
                                    while n < 0
                                        - ++n
                                        .col-lg-4.swiper-slide
                                            .promos--copy__card
                                                h5 Precio preferencial
                                                h2 En volumen de lámina
                                                a(href="#!") 
                                                    button.btn.secundario Me interesa

                        .col-12.col-lg-9.offset-lg-3.offset-xl-4
                            .swiper-pagination.align-items-center.d-flex

        include includes/footer.pug
