.footer{
	height: 110px;
	background: var(--grisOscuro);
	align-items: center;
	border-top: 2px solid var(--primario);
	
	h5,a{
		color: var(--blanco);
		font-family: var(--secundariaRegular);
		text-align: right;
		
		br{
			display: none;
		}
	}
	
}

@media (max-width: 992px){
	.footer{
		height: auto;
		padding: 20px 0;
		
		h5{
			br{
				display: inline;
			}	
		}
		
	}	
	
}